<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ProxyUrl" value="http://your-proxy.your-domain.com:8080"/>
    <add key="ProxyUser" value="[enter proxy user name]"/>
    <add key="ProxyPassword" value="[enter proxy password]"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
<!--    <handlers>-->
<!--      <add name="MyProxy" type="ProxyHelper.Handlers.MyProxy, ProxyHelper.Handlers" verb="GET" path="*.das" />-->
<!--    </handlers>-->
  </system.webServer>
</configuration>
